//////
//////
////// Ye Olde Typography
//////
//////

@font-face {
  font-family: 'RomieRegular';
  src: url('/fonts/RomieTrial-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'RomieMedium';
  src: url('/fonts/RomieTrial-Medium.otf') format('opentype');
}

$font-weight-super-light: 200;
$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-heading: "Ideal Sans A", "Ideal Sans B", "Helvetica", "Arial", sans-serif;
$font-heading-serif: "Chronicle Display A", "Chronicle Display B", "Times New Roman", serif;

$font-size-base: 16px;

$font-size-base: 16px;

body {
  font-family: $font-heading;
  font-weight: $font-weight-light;
  font-size: $font-size-base;
  //line-height: $line-height-body;
}

$font-size-x-x-large: 3.4rem;
$font-size-x-large: 2.6rem;
$font-size-large: 2rem;
$font-size-regular: 1.6rem;
$font-size-quote: 1.4rem;
$font-size-small: 1rem;
$font-size-x-small: .75rem;


h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-light;
  margin-top: 0;
}

h1 {
  font-size: $font-size-x-x-large;
  line-height: 3.8rem;
  margin-bottom: 3rem;
}

h2, .col-1 h1 {
  font-size: $font-size-large;
  line-height: 2.8rem;
  margin-bottom: .5rem;
  @include breakpoint(large) {
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-size: $font-size-regular;
}

h4 {
  margin: .5rem 0 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin: 2rem 0;
}
