//////
//////
////// Ye Olde Typography
//////
//////

$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-heading: "Ideal Sans A", "Ideal Sans B", "Helvetica", "Arial", sans-serif;

$font-size-base: 16px;

body {
  font-family: $font-heading;
  font-weight: $font-weight-light;
  font-size: $font-size-base;
  //line-height: $line-height-body;
}

$font-size-x-x-large: 3.4rem;
$font-size-x-large: 2.6rem;
$font-size-large: 2rem;
$font-size-regular: 1.4rem;
$font-size-small: 1.2rem;

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-light;
  margin-top: 0;
}

h1 {
  font-size: $font-size-x-x-large;
  font-weight: $font-weight-medium;
  color: white;
}

h2 {
  font-size: $font-size-large;
  text-align: center;
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 0;
  @include breakpoint(medium) {
    margin-bottom: 2.5rem;
  }
}

h3 {
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  margin-top: 3rem;
}

h4 {
  margin: .5rem 0;
}

p {
  line-height: 1.9rem;
  margin: 1rem 0;
  .index & {
    //text-align: center;
    font-size: $font-size-small;
  }
  .coaching & {
    font-size: 1.1rem;
  }
}

strong {
  font-weight: $font-weight-light;
}
