//////
//////
////// Variables
//////
//////

$dark-grey: #222;
$yellow: #F0B600;
$pink: #EE3460;
$white: #FFF;
$medium-gray: #666;

$main-padding: 3rem;

$transition: all .15s ease;

$main-text: $dark-grey;
$link-accent-color: $pink;
$reversed-out-text: $white;
