//////
//////
////// Variables
//////
//////

$dark-gray: #222;
$yellow: #F0B600;
$pink: #EE3460;
$white: #FFF;
$black: #000;
$medium-gray: #666;
$light-gray: #999;
$lightest-gray: #EEE;
$warm-highlight: #FFF9A6;
$warm-highlight: #FFFBC6;
$cool-highlight: #EEF9FF;

$main-padding: 3rem;

$transition: all .15s ease;

$main-text: $dark-gray;
$link-accent-color: $pink;
$reversed-out-text: $white;
