@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  margin: 0;
  color: $main-text;
}

a {
  color: $main-text;
  border-bottom: 1px solid $link-accent-color;
  transition: $transition;
  &:hover {
    color: $link-accent-color;
  }
}

header,
main,
footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  .inner {
    @include breakpoint(large) {
      padding-left: $main-padding;
      padding-right: $main-padding;
    }
  }
}

nav {
  text-transform: uppercase;
  font-size: .9rem;
  @include breakpoint(large) {
    float: right;
  }
  a {
    border-bottom: 1px solid $white;
  }
  ul {
    display: block;
    width: 100%;
    padding-top: 1.5rem;
    clear: both;
  }
  li {
    padding: .3rem 0;
  }
  @include breakpoint(large) {
    ul {
      display: block;
      width: 100%;
      margin-top: .5rem;
      padding-top: 0;
    }
    li {
      display: inline-block;
      padding-left: 1rem;
      margin-top: 1rem;
      padding-left: 2rem;
      padding-top: 0;
      margin-top: 0;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: #E0E0E0;
  width: 100%;
  margin: 2rem 0;
}

.logo {
  display: block;
  display: inline-block;
  float: left;
  padding-left: 2.5rem;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 0;
  text-transform: uppercase;
  background-image: image-url("mm-round.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.coaching .coaching a,
.about .about a,
.resources .resources a,
.research .research a {
  border-bottom: 1px solid $pink;
}

.hero {
  margin-bottom: 1rem;
  .text {
    @include breakpoint(large) {
      padding:  2rem 0 1rem 3rem;
      p {
        max-width: 42rem;
      }
    }
  }
  h1 {
    font-weight: $font-weight-book;
    font-size: $font-size-x-large;
    line-height: 3.2rem;
    margin-bottom: 0;
    @include breakpoint(large) {
      font-size: $font-size-x-x-large;
      font-weight: $font-weight-light;
      line-height: 3.6rem;
      max-width: 38rem;

    }
  }
}

.full-width {
  text-align: center;
  @include breakpoint(large) {
    max-width: 65%;
    margin: 0 auto;
  }
  .text {
    h1 {
      max-width: 100%;
    }
    p {
      max-width: 80%;
      margin: 2rem auto;
    }
  }
}

footer {
  margin-left: 2rem;
  margin-right: 2rem;
  background: #222;
  margin-bottom: 2rem;
  margin-top: 3rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: image-url("footer.png");
  a {
    color: #FFF;
  }
  .inner {
    margin: auto 3rem;
  }
  .logo {
    display: none;
    @include breakpoint(medium) {
    display: block;
    background-image: image-url('mm-white.png');
    width: 37px;
    height: 50px;
    background-size: 37px 50px;
    border: 0;
    float: left;
    margin-top: 2rem;
    }
  }
  ul {
    margin: 3rem auto;
    clear: both;
    padding: 3rem 0;
    @include breakpoint(medium) {
      float: right;
      clear: none;
      padding: 0;
    }
    li {
      display: block;
      text-align: center;
      margin: 1rem 0;
      @include breakpoint(medium) {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }
  .copyright {
    clear: both;
  }
}

.btn {
  display: inline-block;
  border-bottom: 0;
  text-transform: uppercase;
  font-size: $font-size-x-small;
  background: $pink;
  padding: .3rem 1.8rem;
  border-radius: 5rem;
  color: #FFF;
  &:hover {
    background: #000;
    color: $white;
  }
  @include breakpoint(large) {
    font-size: $font-size-small;
    margin-top: 1rem;
  }
}

.section-label {
  font-size: $font-size-small;
  text-transform: uppercase;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

input {
  border-radius: 3px;
  border: 0;
  padding: .8rem;
  display: inline;
  &:focus {
    outline: 0;
  }
}

input[type=email] {
  width: 15rem;
}

input[type=submit] {
  background-color: $yellow;
  color: $dark-gray;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: .5rem;
  margin-top: 1rem;
  font-size: $font-size-small;
  text-transform: uppercase;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

/*.mc-status {
  display: block !important;
  text-align: center;
  margin-top: 1rem;
}*/

//////
//////
////// Flex box - 2 columns
//////
//////

.content {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content";

  @include breakpoint(medium) {
    padding: 0 $main-padding;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header content";
  }
}

.col-1 {
  grid-area: header;
  h2 {
    line-height: 2.2rem;
  }

  @include breakpoint(medium) {
    max-width: 60%;
    &.kitchen-party {
      max-width: 100%;
    }
  }
}

.col-2 {
  grid-area: content;
  margin-top: .5rem;
  padding-right: 1rem;
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  > h3 {
    margin-top: 1rem;
  }
  > p {
    margin-top: 1rem;
  }
}

.content h2 {
  margin-top: 1.5rem;
}

.col-2 h3 {
  line-height: 2.3rem;
}

//////
//////
////// Image treatements
//////
//////

.circle {
  margin-top: 1rem;
  border-radius: 50%;
  @include breakpoint(medium) {
    margin-left: 5rem;
  }
}

.profile {
  width: 20rem;
  margin-top: 3rem;
}

.bio {
  margin-top: 0;
  margin-bottom: 1rem;
  @include breakpoint(large) {
    margin-top: 2rem;
  }
}

//////
//////
////// Newsletter
//////
//////

.newsletter {
  background: $lightest-gray;
  padding: 5rem 2rem;
  margin-top: 3rem;
}

.signup {
  max-width: 44rem;
  margin: 0 auto;
  text-align: center;
}

//////
//////
////// Resources
//////
//////

.video-container {
  @include breakpoint(medium) {
    width: 150%;
    margin-left: -50%;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}

.cover {
  width: 180px;
  display: inline-block;
  float: left;
  padding-right: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

 .book-meta {
  margin-top: 2rem;
  .title {
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
  }
  .why {
    line-height: 1.5rem;
  }
  li {
    margin-bottom: .6rem;
  }
}

//////
//////
////// Additional Styling
//////
//////

.about .col-2 h3 {
  margin-top: 2rem;
  span {
    display: block;
    font-size: $font-size-small;
  }
}

.bio {
  margin-top: 2rem;
}

.caption {
  margin-top: -.1rem !important;
  font-size: .9rem;
  color: $light-gray;
  text-align: center;
  a {
    color: $light-gray;
    border-bottom: 1px dotted $light-gray;
  }
}

p.source {
  color: $medium-gray;
  font-size: $font-size-small;
}

ul.bullets {
  list-style-type: disc;
  margin-bottom: 2rem;
  li {
    margin-bottom: .5rem;
  }
}

ul.bullets, ol {
  padding: 0;
  p {
    margin: .7rem 0;
  }
}

ol {
  p {
    margin: 1.5em 0;
  }
}

.methods {
  margin-top: -1rem;
}

.colophon {
  font-size: $font-size-small;
  text-align: center;
  color: $light-gray;
  line-height: 1.3rem;
}

.nickname {
  margin-top: .4rem;
  @include breakpoint(large) {
    margin-top: -.8rem;
  }
}

.kitchen-party h3 {
  margin-top: 3rem;
}

.highlight {
  background-color: #FFF9A6;
  display: inline;
}


//////
//////
////// Styling for certification list
//////
//////

.training .col-2 h3 {
  margin-bottom: 0;
  line-height: 2rem;
}

.training p {
  margin-bottom: 3rem;
  margin-top: .5rem;
}

p.teacher {
  font-style: italic;
  margin-top: -2.8rem;
  color: $light-gray;
}

//////
//////
////// Announcement bar styling
//////
//////

.announcement {
  background: $warm-highlight;
  border-bottom: 1px solid darken($warm-highlight, 40%);
  text-align: center;
  margin-bottom: .5rem;
  .inner {
    @include breakpoint(large) {
      max-width: 50%;
      margin: 0 auto;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
      padding: 1rem 0 1rem 0;
      line-height: 1.3rem;
    }
  }
}
