@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  margin: 0;
  color: $main-text;
  background: #FCFCFC;
}

a {
  color: $main-text;
  border-bottom: 1px solid $link-accent-color;
  transition: $transition;
  &:hover {
    color: $link-accent-color;
  }
}

.no-border {
  border-bottom: none;
}

header,
main,
footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  padding-top: 1.2rem;
  .inner {
    @include breakpoint(large) {
      padding-left: $main-padding;
      padding-right: $main-padding;
    }
  }
}

main {
  margin-top: 2rem;
}

nav {
  text-transform: uppercase;
  font-size: .9rem;
  padding-bottom: 1.2rem;
  @include breakpoint(large) {
    float: right;
  }
  a {
    border-bottom: 1px solid $white;
  }
  ul {
    display: block;
    width: 100%;
    padding-top: 1.5rem;
    clear: both;
  }
  li {
    padding: .3rem 0;
  }
  @include breakpoint(large) {
    ul {
      display: block;
      width: 100%;
      margin-top: .5rem;
      padding-top: 0;
    }
    li {
      display: inline-block;
      padding-left: 1rem;
      margin-top: 1rem;
      padding-left: 2rem;
      padding-top: 0;
      margin-top: 0;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: #E0E0E0;
  width: 100%;
  margin: 2rem 0;
  clear: both;
}

.top-nav-hr {
  margin-bottom: 0;
}

.essays .top-nav-hr {
  background-color: #FFF;
}

.logo {
  display: block;
  display: inline-block;
  float: left;
  padding-left: 2.5rem;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 0;
  text-transform: uppercase;
  background-image: image-url("mm-round.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.coaching .coaching a,
.about .about a,
.resources .resources a,
.research .research a,
.leader-as-coach .courses a {
  border-bottom: 1px solid $pink;
}

.hero {
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: -2rem;
  .text {
    @include breakpoint(large) {
      padding:  2rem 0 1rem 3rem;
      p {
        max-width: 42rem;
      }
      h1, h2, p {
        background: transparentize(#FCFCFC, .4);
      }
    }
  }
  h1 {
    font-weight: $font-weight-book;
    font-size: $font-size-x-large;
    line-height: 3.2rem;
    margin-bottom: 0;
    @include breakpoint(large) {
      font-size: $font-size-x-x-large;
      font-weight: $font-weight-light;
      line-height: 3.6rem;
      max-width: 38rem;

    }
  }
}

.index .hero {
  @include breakpoint(large) {
    background-image: image-url("images/juniper.jpg");
    background-repeat: no-repeat;
    background-position: bottom -2rem right 2rem;
    background-size: 50%;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.full-width {
  @include breakpoint(large) {
    //max-width: 55%;
    //margin: 0 auto;
    text-align: left;
  }
  .text {
    @include breakpoint(large) {
      max-width: 55%;
    }
    h1 {
      max-width: 100%;
    }
    h2 {
      margin-top: 2rem;
    }
    p {
      margin-bottom: .5rem;
      @include breakpoint(large) {
        max-width: 100%;
        margin-bottom: .5rem;
      }
    em {
      color: $medium-gray;
      a {
        color: $medium-gray;
        border-bottom: 1px solid $light-gray;
      }
    }
      //margin: 2rem auto;
    }
  }
  form {
    margin-left: -.7rem;
    padding-left: 0;
  }
}

.explainer {
  @include breakpoint(large) {
    margin-right: 4rem;
  }
}

button {
  text-transform: uppercase;
}

footer {
  padding-bottom: 2rem;
  position: relative;
  ul {
    margin-bottom: 1rem;
    clear: both;
    padding: 3rem 0;
    @include breakpoint(medium) {
      float: right;
      clear: none;
      padding: 0;
    }
    li {
      display: block;
      text-align: center;
      margin: 1rem 0;
      @include breakpoint(medium) {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }
}

header, footer {
  background: #FCFCFC;
}

.btn {
  display: inline-block;
  border-bottom: 0;
  text-transform: uppercase;
  font-size: $font-size-x-small;
  background: $pink;
  padding: .3rem 1.8rem;
  border-radius: 5rem;
  color: #FFF;
  &:hover {
    background: #000;
    color: $white;
  }
  @include breakpoint(large) {
    font-size: $font-size-small;
    margin-top: 1rem;
  }
}

.section-label {
  font-size: $font-size-small;
  text-transform: uppercase;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

input {
  border-radius: 3px;
  border: 0;
  padding: .8rem;
  display: inline;
  &:focus {
    outline: 0;
  }
}

input[type=email] {
  width: 15rem;
}

input[type=submit] {
  background-color: $yellow;
  color: $dark-gray;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: .5rem;
  margin-top: 1rem;
  font-size: $font-size-small;
  text-transform: uppercase;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  &:hover {
    cursor: pointer;
  }
}


//////
//////
////// Flex box - 2 columns
//////
//////

.content {
  display: grid;
  grid-template-areas:
    "header"
    "content";

  @include breakpoint(large) {
    padding: 0 $main-padding;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header content";
  }
}

.col-1 {
  grid-area: header;
  max-width: 100%;
  h1, h2 {
    line-height: 2.2rem;
  }
  img {
    margin-top: 1rem;
  }
  @include breakpoint(large) {
    max-width: 60%;
    &.kitchen-party, &.notes {
      max-width: 100%;
    }
  }
}

.index .col-1 img {
  margin-top: 2.5rem;
}

.col-2 {
  grid-area: content;
  margin-top: .5rem;
  @include breakpoint(medium) {
    padding-right: 1rem;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  > h3 {
    margin-top: 1rem;
  }
  > p {
    margin-top: 1rem;
  }
}

.content h2, .content h1 {
  margin-top: 1.5rem;
}

.col-2 h3 {
  line-height: 2.3rem;
}

//////
//////
////// Image treatements
//////
//////


.fixed-width-20 {
  width: 20rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @include breakpoint(medium) {
    &.course {
      margin-top: 1.5rem;
      margin-left: 5rem;
    }
  }
}

.circle {
  margin-top: 3rem;
  border-radius: 50%;
  @include breakpoint(medium) {
    margin-left: 5rem;
  }
}

.bio {
  margin-top: 0;
  margin-bottom: 1rem;
  @include breakpoint(large) {
    margin-top: 2rem;
  }
}

//////
//////
////// Newsletter
//////
//////

.newsletter {
  background: $lightest-gray;
  padding: 5rem 2rem;
  margin-top: 3rem;
}

.signup {
  max-width: 44rem;
  margin: 0 auto;
  text-align: center;
}

.mini {
  background: $lightest-gray;
  padding: 0 2rem 1rem 2rem;
  h3 {
    padding-top: 1.5rem;
    margin-bottom: .5rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
}

//////
//////
////// Resources
//////
//////

.resources .essays {
  padding-bottom: 2rem;
  h2 {
    margin-top: .5rem;
  }
}

.video-container {
  @include breakpoint(medium) {
    width: 150%;
//    margin-left: -50%;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}

.cover {
  width: 180px;
  display: inline-block;
  float: left;
  padding-right: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

 .book-meta {
  margin-top: 2rem;
  .title {
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
  }
  .why {
    line-height: 1.5rem;
  }
  li {
    margin-bottom: .6rem;
  }
}

//////
//////
////// Additional Styling
//////
//////

.about .col-2 h3 {
  margin-top: 2rem;
  span {
    display: block;
    font-size: $font-size-small;
  }
}

.bio {
  margin-top: 2rem;
}

.caption {
  margin-top: -.1rem !important;
  font-size: .9rem;
  color: $light-gray;
  text-align: center;
  a {
    color: $light-gray;
    border-bottom: 1px dotted $light-gray;
  }
}

p.source {
  color: $medium-gray;
  font-size: $font-size-small;
}

ul.bullets {
  list-style-type: disc;
  margin-bottom: 2rem;
  li {
    margin-bottom: .7rem;
    line-height: 1.7rem;
  }
}

ul.bullets, ol {
  padding-left: 2rem;
  @include breakpoint(large) {
    padding-left: 3rem;
  }
  font-size: 1.2rem;
  p {
    margin: .7rem 0;
  }
  h4 {
    line-height: 1.5rem;
  }
}

ol {
  p {
    margin: 1.5em 0;
  }
}

.methods {
  margin-top: -1rem;
}

.colophon {
  font-size: $font-size-small;
  text-align: right;
  color: $light-gray;
  line-height: 1.5rem;
  clear: both;
}

.copyright {
  margin-bottom: 0;
}

.nickname {
  margin-top: .4rem;
  @include breakpoint(large) {
    margin-top: -.8rem;
  }
}

.kitchen-party h3 {
  margin-top: 3rem;
}

.highlight {
  background-color: #FFF9A6;
  display: inline;
}

.sub-links {
  p {
    margin: 0;
    padding-bottom: 1rem;
  }
}

blockquote {
  margin: 0;
  font-size: 1.6rem;
  font-style: italic;
  color: $light-gray;
  font-weight: $font-weight-light;
  position: relative;
  p {
    position: relative;
    z-index: 5;
  }
  &::before {
    content: "\201C";
    position: absolute;
    font-size: 10rem;
    top: -2.5rem;
    left: -2rem;
    color: $lightest-gray;
    z-index: 1;
  }
}

//////
//////
////// Styling for certification list
//////
//////

.training .col-2 h3 {
  margin-bottom: 0;
  line-height: 2rem;
}

.training p {
  margin-bottom: 3rem;
  margin-top: .5rem;
}

p.teacher {
  font-style: italic;
  margin-top: -2.8rem;
  color: $light-gray;
}

//////
//////
////// Kitchen Party Posts
//////
//////


.kp .content{
  a, strong {
    font-weight: $font-weight-light;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 2rem;
  }
  .mini {
    @include breakpoint(large) {
      margin-top: -2rem;
    }
    a {
      font-weight: $font-weight-light;
    }
  }
  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.col-1.kitchen-party {
  margin-top: 2rem;
}

.kp-editions {
  width: 100%;
  position: relative;

  .kp-post {
    border: 1px solid #CCC;
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas:
      "coverimage"
      "meta";

    @include breakpoint(medium) {
      grid-template-rows: auto;
      grid-template-columns: 1fr 4fr;
      grid-template-areas:
        "coverimage meta";
    }

    h2 {
      font-size: .9rem;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: -.5rem;
    }

    h3 {
      margin-top: 0;
      font-size: 1.5rem;
    }

    img {
      grid-area: coverimage;
      width: 100%;

      @include breakpoint(medium) {
        width: 10rem;
        height: 10rem;
      }
    }

    .meta {
      grid-area: meta;
      margin: auto 1.5rem;
    }
  }
}

//////
//////
////// Notes to Self
//////
//////

.notes {
  background: #EFF2F4;
}

.col-1.notes {
  margin-top: 2rem;
}

.notes header, .notes footer {
  hr {
    background-color: #FFF;
  }
}

.notes .notes {
  font-family: $font-heading-serif;
  font-weight: $font-weight-light;
}

.notes blockquote {
  color: #787D81;
  font-weight: $font-weight-book;
  &::before {
    color: #D1D4D6;
  }
}

.notes strong {
  font-weight: 600;
}

.notes .content ul {
  list-style-type: disc;
  margin-top: -1rem;
  li {
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
}

//////
//////
////// Essays
//////
//////

.masthead, .essay {
  width: 100%;
}

.essays .masthead {
  background-size: cover !important;
}

.essays {
    h1 {
      padding-bottom: 1rem;
    }
    h2 {
      line-height: 2rem;
    }
}

article, .masthead-content {
  margin: 0 auto;
  padding: 1rem;
  max-width: 45rem;
  ol, ul {
    @include breakpoint(large) {
      padding-right: 3rem;
    }
  }
}

article {
  @include breakpoint(large) {
    padding-right: 5rem;
  }
  hr {
    margin: 4.5rem 0;
  }
}

.masthead-content {
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  h6 {
    margin-top: 13rem;
    margin-bottom: 2rem;
    color: #FFF;
    font-size: 1rem;
    margin-left: .2rem;
  }
}

article {
  p, ul, ol {
    //font-size: 1.3rem;
    //line-height: 1.9rem;
    font-family: $font-heading-serif;
    font-weight: $font-weight-light;
  }
  strong {
    font-weight: 600;
  }
  ul {
    font-size: 1.1rem;
    margin-top: -.5rem;
    margin-bottom: 3rem;
    list-style-type: disc;
    margin-left: 2rem;
    li {
      margin-bottom: 1rem;
      line-height: 1.8rem;
    }
  }
}



//////
//////
////// Announcement bar styling
//////
//////

.announcement {
  background: $warm-highlight;
  border-bottom: 1px solid darken($warm-highlight, 40%);
  margin-bottom: .5rem;
  text-align: center;
  .inner {
    @include breakpoint(large) {
      max-width: 50%;
    }
    margin: 0 auto;
    padding: 0 2rem;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
      padding: 1rem 0 1rem 0;
      line-height: 1.3rem;
    }
  }
}

.archive-notice {
  background: $warm-highlight;
  border: 1px solid darken($warm-highlight, 40%);
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0 -2rem 0 -2rem;
}

//////
//////
////// For video embeds
//////
//////

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
}
