@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  margin: 0;
  padding: 0 2rem;
  color: $main-text;
}

a {
  color: $main-text;
  border-bottom: 1px solid $link-accent-color;
  transition: $transition;
  &:hover {
    color: $link-accent-color;
  }
}

header,
main,
footer {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    padding-left: $main-padding;
    padding-right: $main-padding;
  }
}

nav {
  text-transform: uppercase;
  font-size: .9rem;
  @include breakpoint(large) {
    float: right;
  }
  a {
    border-bottom: 1px solid $white;
  }
  ul {
    display: block;
    width: 100%;
    padding-top: 1.5rem;
    clear: both;
  }
  li {
    padding: .3rem 0;
  }
  @include breakpoint(large) {
    ul {
      display: block;
      width: 100%;
      margin-top: .5rem;
      padding-top: 0;
    }
    li {
      display: inline-block;
      padding-left: 1rem;
      margin-top: 1rem;
      padding-left: 2rem;
      padding-top: 0;
      margin-top: 0;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.logo {
  display: block;
  display: inline-block;
  float: left;
  margin-top: .5rem;
  border: 0;
  text-transform: uppercase;
}

.coaching .coaching a,
.workshops .workshops a,
.about .about a,
.reading .reading a,
.team-coaching .team-coaching a {
  border-bottom: 1px solid $pink;
}

.hero {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 42rem;
  margin-bottom: 2rem;
  @include breakpoint(large) {
    height: 28rem;
  }
  .index & {
    background-image: image-url("headers/header-1.png");
  }
  .coaching & {
    background-image: image-url("headers/header-2.png");
  }
  .workshops & {
    background-image: image-url("headers/header-4.png");
  }
  .team-coaching & {
    background-image: image-url("headers/header-3.png");
  }
  h1 {
    position: absolute;
    top: 5%;
    left: 1rem;
    font-weight: $font-weight-book;
    font-size: $font-size-x-large;
    line-height: 3.2rem;
    padding-right: 2rem;
    max-width: 80%;
    @include breakpoint(large) {
      top: 16%;
      left: 3rem;
      font-size: $font-size-x-x-large;
      font-weight: $font-weight-light;
      max-width: 35rem;
      padding-right: 0;
      line-height: 3.6rem;
      &.longer {
        max-width: 45rem;
      }
    }
  }
  span {
    display: block;
    font-size: 1rem;
    margin-top: -1.5rem;
    @include breakpoint(large) {
      font-size: 1.6rem;
      margin-top: 0rem;
    }
  }
}

.mission-statement {
  padding: 4rem 0 1rem 0;
  background-image: image-url("journey.png");
  background-size: cover;
  background-repeat: no-repeat;
  h2 {
    text-align: left;
    margin-bottom: -.5rem;
    font-weight: $font-weight-book;
    line-height: 1.8rem;
    @include breakpoint(large) {
      font-size: $font-size-large;
      font-weight: $font-weight-light;
      text-align: center;
    }
  }
  p, h2 {
    padding: 0 1rem;
  }
  p {
    padding-right: 3rem;
  }
  .inner {
    max-width: 36rem;
    margin: 0 auto;
  }
}

footer {
  clear: both;
  background: #222;
  margin-bottom: 2rem;
  margin-top: 3rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: image-url("footer.png");
  a {
    color: #FFF;
  }
  .inner {
    margin: auto 3rem;
  }
  .logo {
    display: none;
    @include breakpoint(medium) {
    display: block;
    background-image: image-url('mm-white.png');
    width: 37px;
    height: 50px;
    background-size: 37px 50px;
    border: 0;
    float: left;
    margin-top: 2rem;
    }
  }
  ul {
    margin: 3rem auto;
    clear: both;
    padding: 3rem 0;
    @include breakpoint(medium) {
      float: right;
      clear: none;
      padding: 0;
    }
    li {
      display: block;
      text-align: center;
      margin: 1rem 0;
      @include breakpoint(medium) {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }
  .copyright {
    clear: both;
  }
}

.btn {
  border-bottom: 0;
  text-transform: uppercase;
  font-size: $font-size-x-small;
  background: #FFF;
  padding: .5rem 1rem;
  border-radius: 5rem;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, .2);
  @include breakpoint(large) {
    font-size: $font-size-small;
  }
}

input {
  border-radius: 3px;
  border: 0;
  padding: .8rem;
  display: inline;
  &:focus {
    outline: 0;
  }
}

input[type=email] {
  width: 15rem;
}

input[type=submit] {
  background-color: $yellow;
  color: $dark-grey;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: .5rem;
  margin-top: 1rem;
  font-size: $font-size-small;
  text-transform: uppercase;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.mc-status {
  display: block !important;
  text-align: center;
  margin-top: 1rem;
}

.content {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content";

  @include breakpoint(medium) {
    padding: 0 $main-padding;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header content";
  }
}

.col-1 {
  grid-area: header;

  @include breakpoint(medium) {
    max-width: 60%;
  }
}

.col-2 {
  grid-area: content;
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

.get-in-touch {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "contact"
    "superpeer";

  @include breakpoint(medium) {
    padding: 0;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "contact superpeer";
  }
  .contact, .superpeer {
    padding: 1rem 1rem 3rem 1rem;
  }
  .contact {
    //background: #EEE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: image-url("headers/consultation-bg.png");
  }
  .superpeer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: image-url("headers/superpeer-bg.png");
  }
  .contact, .superpeer {
    padding-right: 3rem;
    padding-left: 2rem;
  }
}

.on-design {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content";

  @include breakpoint(large) {
    padding: 0 $main-padding;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header content";
  }

  .design-col-1 {
    grid-area: header;

    @include breakpoint(large) {
      max-width: 60%;
    }
  }
}

.section-label {
  font-size: $font-size-small;
  text-transform: uppercase;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.bio .bio {
  padding-top: 4rem;
  margin: 0 auto;
  @include breakpoint(large) {
    max-width: 50%;
  }
  @include breakpoint(xlarge) {
    max-width: 40%;
  }
  img {
    margin-bottom: 2rem;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  margin: 2rem 0;
}

.content h2 {
  margin-top: 1.5rem;
}

.training h3 {
  margin-bottom: -1.5rem;
}

.col-2 h3 {
  margin-bottom: -1.5rem;
  line-height: 2.3rem;
}

.video-container {
  @include breakpoint(medium) {
    width: 150%;
    margin-left: -50%;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}

.book-cover {
  display: block;
  width: 240px;
  border: 1px solid #EEE;
  margin: 0 auto;
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 3rem;
  }
}

.newsletter {
  background: #EEE;
  padding: 5rem 2rem;
  margin-top: 3rem;
}

.about .col-2 h3 {
  margin-top: 2rem;
  span {
    display: block;
    font-size: $font-size-small;
  }
}

.bio {
  margin-top: 2rem;
}

.principles {
  margin-top: 1.5rem;
}

.caption {
  margin-top: -1.5rem;
  font-size: .9rem;
}

ul.bullets {
  list-style-type: disc;
  margin-bottom: 2rem;
  li {
    margin-bottom: .5rem;
  }
}

ul.bullets, ol {
  padding: 0;
  p {
    margin: .7rem 0;
  }
}

ol {
  p {
    margin: 1.5em 0;
  }
}

p.source {
  color: $medium-gray;
  font-size: $font-size-small;
}
