
<% wrap_layout :layout do %>
  <section class="content">
    <div class="col-1 kitchen-party">
      <%= yield %>
      <hr />
    </div>
  </section>


  <section class="content">
    <div class="col-1 kitchen-party">
      <%= partial "signup-mini" %>
    </div>
  </section>

<% end %>
