
<% wrap_layout :layout do %>
<main>
  <section class="content">
    <div class="col-1 kitchen-party">
      <h5><%= link_to('the becoming', 'the-becoming') %>, <%= current_page.data.date %></h5>
      <h1><%= current_page.data.description %></h1>
        <%= yield %>
      <hr />
    </div>
  </section>

<% end %>
