
<% wrap_layout :layout do %>
  <section class="content">
    <div class="col-1 kitchen-party">
      <%= yield %>
      <hr />
    </div>
  </section>


  <section class="content">
    <div class="col-1 kitchen-party">
      <h3>Subscribe to Kitchen Party</h3>
      <p>Receive monthly missives with original research, writing, and insights to support you on your leadership journey.</p>
      <script async data-uid="3a8ab385a5" src="https://methodandmatter.ck.page/3a8ab385a5/index.js"></script>
    </div>
  </section>

<% end %>
