
<% wrap_layout :layout do %>

<main>
  <section class="content">
    <div class="col-1 notes">
    <h4><%= current_page.data.date %></h4>
    <h1><%= current_page.data.title %></h1>
        <%= yield %>
    </div>
  </section>
</main>
<% end %>
