---
title: Leader as Coach Course Material
description: Course materials for Leader as Coach
keywords:
image: "og/mm-og-1.jpg"
robots: noindex
---

<section class="hero">
  <div class="text">
    <h1>Leader as Coach</h1>
    <p>This page exists as a repository of course materials for the cohort-based course, <%= link_to('Leader as Coach', 'leader-as-coach') %>. You can grab the <%= link_to('The Leader\'s Little Book of Coaching', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit?usp=sharing') %> and watch the videos below.
    </p>
  </div>
</section>

<hr />


<section class="content">
  <div class="col-1">
    <h1>Welcome</h1>
    <p>A little bit about what this course is about.</p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/cc06451e-0ee9-449e-9320-1458b33cf7f4?watermark=0&color=&sharing=0&title=1" frameborder="0" class="video" title="Welcome to Leader as Coach!" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>What is coaching?</h1>
    <p></p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/75201e62-b98b-4283-a74a-f6b8dc957564?watermark=0&color=&sharing=0&title=1" frameborder="0" class="video" title="What is coaching?" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>Coaching for Compliance & Coaching with Compassion</h1>
    <p></p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/216fd012-f06b-4c3e-9e3b-c98c6b2f9062?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="Compliance vs Compassion" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>The Coaching Mindset</h1>
    <p></p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/2c83efd2-4a75-4f16-aaa5-783e376aa57b?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="mindset" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>The Coaching Posture</h1>
    <p></p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/18c5cdcc-7637-4b38-86d7-e85261a10de4?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="The Coaching Posture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>Red-Yellow-Green Checkins</h1>
    <p></p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/2f3269f8-8083-422c-a30b-08e8521fed78?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="Red-yellow-green Checkins" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>Safety, Stress, SOS</h1>
    <p></p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/0033c145-0b37-423f-a115-c524b53ae1cf?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="Safety, Stress, SOS" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>



<%= partial "signup" %>
