<div class="announcement">
  <div class="inner">
    <p><%= link_to('Join me on November 20th for a FREE webinar on Leadership Fluency!', 'https://us02web.zoom.us/meeting/register/uNk_qLU9QUSFKeJFoxse-g') %>
      </p>
  </div>
</div>
