<div class="announcement">
  <div class="inner">
    <p>Newly updated! <%= link_to('At the End of the Year: Guided Reflections for 2022', 'https://medium.com/method-matter/at-the-end-of-the-year-bd201ea99541') %></p>
  </div>
</div>
