<div class="announcement">
  <div class="inner">
    <p>The next cohort of <strong>Leader as Coach</strong> starts June 12th. <strong><%= link_to('Reserve your spot!', 'https://maven.com/andrea-mignolo/leader-as-coach') %></strong> </p>
  </div>
</div>
