<section class="content">
  <div class="col-1">
    <h2>Interested? Let's chat.</h2>
    <p>A 50 minute call will give us a chance to learn more about each other. I'll be able to understand what is coming up for you and what brings you to coaching, and you'll have a chance to learn more about what to expect, my approach, and ask as many questions as you might have.</p>
  </div>

  <div class="col-2">
      <p></p>
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrUY5rMDFYhzdpdB?backgroundColor=purple" frameborder="0" onmousewheel="" width="99%" height="1010" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</section>
