<section class="get-in-touch">
  <div class="contact">
    <p>Looking for a supportive, ongoing coaching relationship for you or your team? Schedule a coaching consultation where we can explore what is in front of you and what working together might look like.</p>

    <%= link_to('coaching consultation', 'consultation', class: "btn") %>

  </div>

  <div class="superpeer">
    <p>Looking for a single coaching session to help you through a tight spot? Every Wednesday I have availability through Superpeer for a la carte coaching.</p>

    <%= link_to('single session', 'https://superpeer.com/method+matter', class: "btn") %>
  </div>
</section>
