<section class="content lf">
  <div class="col-1">
    <h2>Leadership With Clarity Webinar & Workbook</h2>
  </div>

  <div class="col-2">
    <%= image_tag("lfwebinar.jpg") %>

    <h3>This 45-minute webinar introduces the Leadership Fluency framework and gives you a sense of what the work entails.</h3>

    <p>Covering the distinctions between four fundamental leadership roles (leading, directing, managing, and coaching), execersise for mapping your own leadership work, and scenarios for applying what you’ve learned, participants learn the foundational model and gain insight into their unique leadership practice.</p>

    <p>The webinar includes a downloadable workbook, framework reference materials, and practical next steps for building your leadership fluency.</p>

    <div>
      <div class="inner">
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/wordsmakeworlds"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/wordsmakeworlds', 'popupwindow')"
          class="embeddable-buttondown-form"
        >

          <input type="hidden" name="tag" value="LF-webinar" />

          <input type="email" name="email" id="bd-email" />

          <input type="submit" value="webinar, please!" />

        </form>
      </div>
    </div>
  </div>

</section>
