<footer>
  <div class="inner">
  <hr />
    <ul>
      <li><%= link_to('RSS', 'feed.xml') %></li>
      <li><%= link_to('Mastodon', 'https://indieweb.social/@pnts', :rel => 'me') %></li>
      <li><%= link_to('Medium', 'https://medium.com/method-matter', :class => 'medium') %> </li>
      <li><%= link_to('LinkedIn', 'https://www.linkedin.com/in/mignolo/', :class => 'linkedin') %> </li>
    </ul>
    <p class="colophon made">Made with Middleman, Ideal Sans, Chronicle, and ❤️.</p>
    <p class="colophon hosting">Hosted on Github. This site does not track you.</p>

    <p class="colophon copyright">&copy; 2017 - 2023, Andrea Mignolo</p>
  </div>
</footer>
