
<section class="newsletter">
  <div class="inner">
    <div class="signup">
      <h2><%= link_to('Kitchen Party', 'kitchen-party') %>: Support For Your Journey</h2>
      <p>Whenever there is a house party people inevitably gather in the kitchen, convivially packed together with warmth and openness. The environment encourages the sharing of ideas, possibilities, and dreams, subtly connecting and altering all who are present. <%= link_to('Kitchen Party', 'kitchen-party') %> is a newsletter built with this ethos in mind, inviting explorations at the intersection of leadership, business, psychology, and design. </p>

      <script async data-uid="3a8ab385a5" src="https://methodandmatter.ck.page/3a8ab385a5/index.js"></script>
    </div>
  </div>
</section>
