
<div class="mini">
  <h3>Subscribe to Kitchen Party</h3>
  <p>Receive monthly updates in your inbox, or <%= link_to('grab the RSS', 'kp/feed.xml') %> if you'd prefer!</p>
  <script async data-uid="3a8ab385a5" src="https://methodandmatter.ck.page/3a8ab385a5/index.js"></script>
</div>
