
<div class="mini">
  <h3>Kitchen Party</h3>
  <p>Sign-up to receive monthly updates in your inbox.</p>
  <script async data-uid="3a8ab385a5" src="https://methodandmatter.ck.page/3a8ab385a5/index.js"></script>
</div>
