<form
  action="https://buttondown.email/api/emails/embed-subscribe/wordsmakeworlds"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/wordsmakeworlds', 'popupwindow')"
  class="embeddable-buttondown-form"
>

  <input type="hidden" name="tag" value="wmw" />

  <input type="email" name="email" id="bd-email" />

  <input type="submit" value="Subscribe" />

</form>
