<div class="newsletter-lockup">
  <p>Ready to explore what authentic leadership looks like for you?
  <%= link_to('Words Make Worlds', 'words-make-worlds') %> lands in your inbox bi-weekly exploring the theories and practices at the emerging edge of leadership, where wholeness meets change with endless creativity.</p>

  <div class="mini wmw"><%= partial "wmw_form" %></div>
</div>
