<div class="content alternative-stripe">
  <div class="container">
    <h3>What is method + matter?</h3>
    <p>method + matter is a coaching company started by <a href="https://pnts.us">Andrea Mignolo</a> that combines design, coaching, business, and leadership to facilitate the development of more resilient, compassionate, and present leaders.</p>

    <h3>Why method + matter?</h3>
    <p>I am passionate about working with people who are committed to creative ways of leading (and living) in this volatile and uncertain world. People who know there are better ways, who are bravely leading in the face of adversity, whose unique leadership archetype is desperately needed in this world. People who are determined to build a better future, who have hope, who refuse to give up. People who sense that their own transformation is the key to unlocking their wildest dreams, their teams, their companies, and their world.</p>

    <p>I believe that personal transformation is the foundation for meaningful change. By starting with ourselves we can examine ingrained patterns of communicating, responding, and collaborating. As we start to understand and shift our patterns we experience new possibilities for how we show up, and in these possibilities are the seeds of larger change.</p>

    <h3>My background</h3>
    <p>Combining <a href="https://www.linkedin.com/in/mignolo/">10 years of design leadership experience</a> with formal training in business and coaching, I help individuals and teams design the structures, processes, and cultures that help them do their best work.</p>

    <div class="qualifications">
      <h3>Training</h3>
      <ul>
        <li>
          <h4><span>MBA</span>, <a href="https://weatherhead.case.edu/degrees/masters/mba/executive/">Case Western Reserve University</a></h4>
          <p>Intentional Change Theory, Appreciative Inquiry, Organizational Design</p>
        </li>
        <li>
          <h4><span>Integral Coach</span>, <a href="https://www.newventureswest.com">New Ventures West</a></h4>
          <p>Certified September, 2019</p>
        </li>
        <li>
          <h4><span>Enneagram Fundamentals</span>, <a href="https://www.enneagraminstitute.com">Enneagram Institute</a></h4>
          <p>Fundamentals of the Riso-Hudson Enneagram w/Russ Hudson, 2019</p>
        </li>
      </ul>
    </div>
  </div>
</div>
