---
title: Executive and Team Coaching
description: I offer executive coaching, team coaching, group coaching, and leadership programs.
keywords: executive coach, leadership coach, design executive coach, design leadership coach, executive team coach, leadership team coach, group coaching, Andrea Mignolo
image: "og/og-simple.png"
layout: content
---

<section class="hero full-width">
  <div class="text">
    <h1>Executive coaching for leaders and teams.</h1>

    <div class="explainer">
      <h2><strong><%= link_to('One on one coaching', 'individual-coaching') %></strong> is a perfect fit for executives, senior leaders, and emerging leaders who want to be more impactful in their roles and who are looking for deeper meaning and purpose in their work.</h2>

      <h2>For teams looking to work better together check out <strong><%= link_to('team coaching', 'team-coaching') %></strong> &mdash; a process focused, evidenced-based approach that helps teams become aware of, enhance, and change relational dynamics and patterns of interaction that accelerate team performance.</h2>

      <h2>Facilitated by a professional coach, <strong><%= link_to('group coaching', 'group-coaching') %></strong> brings together peers &mdash; either from the same organization or across a range of companies &mdash; to engage in group inquiry, advisory councils, and peer coaching. </h2>

      <h2>Combining coaching and training, <strong><%= link_to('leadership programs', 'leadership-programs') %></strong> take an experiential learning approach to teach essential skills needed for leading through change and building high performing teams.</h2>
    </div>

    <p><%#= link_to('schedule a consultation', 'consultation', class: "btn") %></p>
  </div>
</section>


<%#= partial "testimonials" %>

<%#= partial "signup" %>
