---
title: Confirmed!
description: Thank you for signing up to <strong>the becoming</strong>! I'm so glad you are here!
image: "og/og-symbol.jpg"
layout: content
---

<section class="content">
  <div class="col-1">
    <h2>Yay! Confirmed!</h2>
  </div>

  <div class="col-2">

      <p>Thank you for signing up, I am so glad you are here!</p>

      <%= image_tag("confirmed.gif") %>

  </div>
</section>
