---
title: Confirmed!
description: Thank you for signing up to <strong>the becoming</strong>! I'm so glad you are here!
image: "og/og-symbol.jpg"
layout: content
---

<section class="content">
  <div class="col-1">
    <h2>Yay! Confirmed!</h2>
  </div>

  <div class="col-2">

      <p>Thank you for signing up to <strong>the becoming</strong>! I am so glad you are here. And now that are you'll receive monthly emails from me with original essays, interesting links, and research notes at the edge of the known and the unknown.</p>

      <p>As a thank you, I'd like to share <%= link_to('Notes From the Emerging Future', 'notes-emerging-future') %>, an exercise I use with clients (and myself) to get in touch with deep, authenthic intentions to lead us to our unique path.</p>

      <%= image_tag("confirmed.gif") %>

  </div>
</section>
