---
title: confirmed
---

<section class="content">
  <div class="col-1">
    <h2>Confirmed!</h2>
    <p>Thank you for signing up to Kitchen Party!</p>
  </div>

  <div class="col-2">
      <%= image_tag("confirmed.gif") %>
  </div>
</section>
