---
title: Confirmed!
description: Thank you for signing up to Kitchen Party! I'm so glad you are here!
image: "og/mm-og-1.jpg"
---

<section class="content">
  <div class="col-1">
    <h2>Yay! Confirmed!</h2>
  </div>

  <div class="col-2">

      <p>Thank you for signing up to Kitchen Party!</p>
      <p>As promised, here is a link to the <%= link_to('Notes From the Emerging Future exercise', 'notes-emerging-future') %>.</p>

      <p>Glad to have you onboard! </p>

      <%= image_tag("confirmed.gif") %>
  </div>
</section>
