---
title: At the End of a Cycle
image: "og/mm-og-1.png"
---


<section class="hero">
  <div class="text">
    <h1>At the End of a Cycle</h1>
    <p>Taking time to pause, reflect, and course correct.</p>
  </div>

</section>

<hr />
