---
title: "From Conflict to Connection: How Feedback Can Deepen Trust, Strenghten Relationships, and Build a Culture of Learning"
description: Learn how to have better feedback conversations in service of stronger connections, deeper trust, and high performing teams.
keywords: feedback
image: "zoom-announcement-feedback.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Feedback: From Conflict to Connection</h1>
    <p>January 9th, 11:30am PT <br/>
      Virtual Zoom Webinar</p>

    <p><%= link_to('Register', 'https://us02web.zoom.us/meeting/register/tZMuf--gqDkvGdM0E05aPzxlzK64qQVeoAhx', class: "btn") %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Overview</h2>
  </div>

  <div class="col-2">
    <p></p>

    <%= image_tag("zoom-announcement-feedback.png") %>

    <p></p>
    <h3>Learn how feedback can deepen trust, strenghten relationships, and build a culture of learning.</h3>

    <p>For many leaders, giving and receiving feedback can feel like an eternal source of conflict. Whether we come prepared with data and assert our case with confidence and clarity, or we take the opposite approach and ask questions with the hopes the other person will come to see things as we do and modify their behavior, these feedback conversations frequently result in the loss of trust, weaker relationships, and turn into point-counterpoint style arguments.</p>

    <p>But do they have to?</p>

    <p>What if feedback could facilitate connection instead of conflict? This webinar takes a look at the common reasons feedback feels like conflict, looks at the role the nervous system plays in what kind of feedback conversation will happen, and shares 3 models leaders can use to begin to facilitate feedback conversations in service of connection, learning and growth.</p>

    <p>Participants will learn:</p>
      <ul>
        <li>Common feedback mistakes that lead to conflict</li>
        <li>The role the nervous system plays in feedback conversations</li>
        <li>A reflective tool for understanding how we make sense of the world and the impact that has on feedback</li>
        <li>The ability to reframe feedback from an opportunity to be right to an opportunity for learning and connection</li>
        <li>Two critical communication techniques to shift feedback conversations from conflict to connection</li>
        <li>A simple framework for guiding feedback conversations</li>
      </ul>

    <p></p>

    <p><%= link_to('Register', 'https://us02web.zoom.us/meeting/register/tZMuf--gqDkvGdM0E05aPzxlzK64qQVeoAhx', class: "btn") %></p>



  </div>
</section>
