---
title: method & matter /// executive and leadership coaching
---
<section class="hero">
  <h1>
    Executive coaching for unconventional leaders.
    <p>Working at the intersection of business, design, leadership, and people, method + matter combines integral coaching with appreciative inquiry, design thinking, organziational design, and business strategy to help leaders flourish.</p>
  </h1>
</section>


<section class="mission-statement">
  <div class="inner">
    <h2>You don't have to go it alone.</h2>
    <p>Your leadership journey is unique, but it doesn't have to be lonely. If you are feeling stuck, challenged, or uncertain, working with a coach - a trusted partner and loyal ally - can open up new worlds of possibility, impact, and effectiveness.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Individual Coaching</h2>
  </div>

  <div class="col-2">
    <p>Individual coaching for emerging and seasoned leaders. The challenges we face at work provide the perfect material to point us to growth opportunities, both personally and professionally. Whatever is in front of you, whatever you long to achieve, working together we can unblock what stops you and unleash a world of possibilities.</p>

    <p><%= link_to('Learn more about individual coaching', 'coaching') %></p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Team Coaching</h2>
  </div>

  <div class="col-2">
    <p>When teams are humming along, there is a natural flow to how individuals work together, align around purpose, and create a path forward. Sometimes that flow gets stuck. Team coaching helps teams regain their flow, develop new capacities and capabilities, and achieve more together than they ever thought possible. </p>

    <p><%= link_to('Learn more about team coaching', 'coaching') %></p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Workshops </h2>
  </div>

  <div class="col-2">
    <p>Workshops are great for condensed, focused, collaborative team development. method & matter offers training in business thinking, systems thinking, and Appreciative Inquiry, as well as bespoke offerings in facilitation and team building. </p>

    <p><%= link_to('Learn more about workshops', 'workshops') %></p>
  </div>
</section>

<div class="separator"></div>

<!-- <section class="content">
  <div class="col-1">
    <h2>Workshops</h2>
  </div>

  <div class="col-2">
    <p>As a practitioner of Intentional Change Theory, Appreciative Inquiry, and Integral Coaching, I believe in strengths-based approaches to change. I work with start-ups, leaders, and teams to design meaningful ways of working that lead to better organizations and outcomes</p>

    <p><%= link_to('Dive deeper into workshops', 'workshops') %></p>
  </div>
</section>

<div class="separator"></div> -->



<section class="content">
  <div class="col-1">
    <h2>Testimonials</h2>
  </div>

  <div class="col-2">
    <p class="quote">"Working with Andi for almost a year helped me evaluate how I approached both my personal and professional lives, and understand what was getting me stuck. She is wise, compassionate and without judgment, but firm in providing the push I needed to make the right changes. I now approach things with much more intentionality and I continue to apply  the tools Andi provided me with. I cannot find the words to express what a transformative experience this journey has been for me."</p>
    <p class="source">- Maria Pereda, Director of Product Design, Clio</p>

    <div class="separator"></div>

    <p class="quote">"I had the opportunity to work with Andi over the course of a year that brought a number of significant personal and professional challenges into my life. I consider myself truly fortunate to have had the benefit of Andi's support and guidance during this time. Andi is a truly gifted coach and amazing human being. Her coaching practice brings insights from the many domains she has expertise in, from design and business leadership to holistic psychology to the martial arts. Working with her has enabled me to integrate my mind and body in ways I couldn't have imagined, to face deep-seated fears and contradictions, and to emerge from my struggles as a stronger, kinder, wiser, and more resilient person. I highly recommend working with Andi to anyone who wants to move to the next level in their personal and professional life and is ready to take a leap forward in their journey of self-realization."</p>
    <p class="source">- Dmitry Nekrasovski, Senior Manager, Product Design at Hashicorp</p>

    <div class="separator"></div>

    <p class="quote">"In my eight months with Andi, she helped me to identify my professional and personal aspirations, to develop practices that vastly improved my mental and emotional health, and to ultimately reconnect with the joy of my being. Her coaching plan was completely tailored to me, and it was always evolving with my own growth. Andi is compassionate, observant, and infinitely wise. I feel so fortunate that I was able to work with her."</p>
    <p class="source">- Ashley, Creative Leader, NYC</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Interested? Let's chat.</h2>
    <p>A 50 minute call will give us a chance to see if we're a good coaching fit. I'll be able to understand what is coming up for you and what brings you to coaching, and you'll have a chance to learn more about what to expect, my approach, and ask as many questions as you might have.</p>
  </div>

  <div class="col-2">
      <p></p>
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrUY5rMDFYhzdpdB?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="1010" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</section>
