---
title: method + matter
---

<div class="hero">
  <div class="container">

    <%= image_tag 'mm.png' %>

  <h1 class="center">executive coaching for creative leaders</h1>
  <p class="center">method + matter works with leaders who are committed to developing deeper ways of working that contribute to individual and organizational flourishing</p>
  </div>
</div>

<div class="content secondary">
  <div class="container center">
    <h2>You don't have to go it alone.</h2>
    <p>Your leadership journey is unique, but it doesn't have to be lonely. If you are feeling stuck, challenged, or uncertain, working with a coach - a trusted partner and loyal ally - can open up new worlds of possibility, impact, and effectiveness.</p>
  </div>
</div>

<div class="content alternative-stripe">
  <div class="container">
    <h3>What is method + matter?</h3>
    <p>method + matter is a coaching company started by <a href="https://pnts.us">Andrea Mignolo</a> that combines design, coaching, business, and leadership to facilitate the development of more resilient, compassionate, and present leaders.</p>

    <h3>Why method + matter?</h3>
    <p>I am passionate about working with people who are committed to creative ways of leading (and living) in this volatile and uncertain world. People who know there are better ways, who are bravely leading even when the world has questioned them because we are so accustomed to a narrow set of leadership archetypes. People who we need to make a better world, who have hope, who don’t want to give up. People who sense that their own transformation is the key to unlocking themselves, their teams, their companies, and their world.</p>

    <p>I believe that personal transformation is the foundation for meaningful change. By starting with ourselves we can examine ingrained patterns of communicating, responding, and collaborating. As we start to understand and shift our patterns we experience new possibilities for how we show up, and in these possibilities are the seeds of larger change.</p>

    <p>Combining 10 years of design leadership experience with formal training in business and coaching, I help individuals and teams design the structures, processes, and cultures that help them do their best work.</p>

    <div class="qualifications">
      <h3>Training</h3>
      <ul>
        <li>
          <h4>MBA, <a href="https://weatherhead.case.edu/degrees/masters/mba/executive/">Case Western Reserve University</a></h4>
          <p>Intentional Change Theory, Appreciative Inquiry, Organizational Design</p>
        </li>
        <li>
          <h4>Integral Coach, <a href="https://www.newventureswest.com">New Ventures West</a></h4>
          <p>Certified September, 2019</p>
        </li>
        <li>
          <h4><a href="https://www.enneagraminstitute.com">Enneagram Institute</a></h4>
          <p>Fundamentals of the Riso-Hudson Enneagram w/Russ Hudson, 2019</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <h3>About Integral Coaching</h3>
    <blockquote><em>"We call our work integral because we include everything about the client and the client’s world in our coaching. This includes what the client is aware of along with her potential—what could be brought about through focused, skillful methods. Our coaches bring forth a view of the client that includes how the client represents herself and also investigates her social world, habits, relationship with her body, the quality of self-care, the amount of attention and energy available to take on change, and much more." - <a href="https://www.newventureswest.com">New Ventures West </a></em></blockquote>

    <p>The aim of Integral Coaching is to use <em>your</em> entire world as material for developing self-generating, self-sustaining practices that will be relevant through the arc of your career and life. Integral Coaching is not coaching for compliance, or coaching for accountability. It is deeply humanistic work that opens up insights and possibilities for a path forward.</p>
  </div>
</div>

<div class="sign-up">
  <div class="container">
    <a href="./hello" class="button">Let's work together</a>
  </div>
</div>

<footer>
  <div class="container">
    <p class="tm">method + matter, llc</p>
  </div>
</footer>
