---
title: Method & Matter
---
<div class="left"></div>
<div class="right"></div>
<div class="top"></div>
<div class="bottom"></div>

<div class="container">
  <div class="mm">
    <%= image_tag 'mm4.png' %>
  </div>

  <h1>Method & Matter</h1>
  <p>Leadership, coaching, and organizational design.</p>
</div>
