---
title: Leadership Training and Programs
description: "Experiential learning immersions for leadership teams looking to increase their capacity to take on big
challenges, be more creative, and build cultures of excellence. Custom-designed programs based on team needs."
keywords: Team offsites, transformative experiences for teams, team coaching
image: "og/og-programs.png"
layout: content
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "serviceType": "Leadership Development",
    "name": "Leadership Programs",
    "description": "Experiential learning immersions for leadership teams looking to increase their capacity to take on big
  challenges, be more creative, and build cultures of excellence. Custom-designed programs based on team needs.",
    "provider": {
      "@type": "Person",
      "name": "Andrea Mignolo",
      "url": "https://methodandmatter.com/about"
    },
    "areaServed": "Worldwide",
    "availableChannel": {
      "@type": "ServiceChannel",
      "serviceUrl": "https://methodandmatter.com/conversation",
      "serviceType": "In-Person and Video Conference"
    },
    "audience": {
      "@type": "Audience",
      "audienceType": "Leadership Teams"
    },
    "serviceOutput": [
      "Leading Teams",
      "Cultivating Team Culture",
      "Leading Through Change",
      "Resilience for Challenging Times",
      "Leadership Presence",
      "Giving and Receiving Feedback",
      "Difficult Conversations",
      "Influence",
      "Working with Resistance",
      "Managing Stress",
      "Developing Others"
    ]
  }
</script>

<section class="hero">
  <div class="text">
    <h1>Leadership Programs</h1>
    <p>Hands-on experiential learning for leaders and teams.</p>

    <p><%= link_to('schedule a conversation', 'conversation', class: "btn") %></p>
  </div>
</section>

<hr />


<section class="content">
  <div class="col-1">
    <h2>What You Can Expect</h2>
  </div>

  <div class="col-2">
    <h3>Experiential learning immersions for leadership teams looking to increase their capacity to take on big challenges, be more creative, and build cultures of excellence. </h3>

    <p>Leadership programs are designed in collaboration with team leaders. We take the biggest challenges and opportunities facing your team, look for patterns in the data from surveys and other assessment tools, interview team members, and create a program experience custom designed to support you and your leadership teams.</p>

    <h4><strong>AREAS OF FOCUS</strong></h4>
      <ul class="bullets">
        <li>Leading Teams</li>
        <li>Cultivating Team Culture</li>
        <li>Leading Through Change</li>
        <li>Resilience for Challenging Times</li>
        <li>Leadership Presence</li>
        <li>Giving and Receiving Feedback</li>
        <li>Difficult Conversations</li>
        <li>Influence</li>
        <li>Working with Resistance</li>
        <li>Managing Stress</li>
        <li>Developing Others</li>
      </ul>

    <p>I also run <%= link_to('Leader as Coach', 'leader-as-coach') %> in-house for organizations that want to support their leaders in developing a <%= link_to('coaching leadership style', 'writing/essays/the-coaching-leadership-style') %>. This includes the option to extend the engagement with peer coaching circles, a fantastic way for leaders to deepen their coaching practice and support their teams.</p>
  </div>
</section>
