---
title: Leadership Training and Programs
description: Hands-on experiential learning for developing leaders and teams
keywords: Team offsites, transformative experiences for teams, team coaching
image: "og/og-the-becoming.png"
layout: content
---
<section class="hero">
  <div class="text">
    <h1>Leadership Trainings and Programs</h1>
    <p>Hands-on experiential learning for developing leaders and teams</p>

    <p><%= link_to('schedule a consultation', 'consultation', class: "btn") %></p>
  </div>
</section>

<hr />


<section class="content">
  <div class="col-1">
    <h2>What You Can Expect</h2>
  </div>

  <div class="col-2">
    <h3>Combining coaching methodologies with an experiential learning approach, leaders and teams learn essential skills to maximize their leadership impact.</h3>

    <p>Leadership trainings and programs are designed in collaboration with team leaders, learning and development executives, and HR departments. We take the biggest challenges and opportunities facing your team, look for patterns in the data from surveys and other assessment tools, interview team members, and create a program custom designed to support your leadership teams.</p>

    <h4><strong>AREAS OF FOCUS</strong></h4>
      <ul class="bullets">
        <li>Leading Teams</li>
        <li>Leading Through Change</li>
        <li>Self Awareness</li>
        <li>Leadership Presence</li>
        <li>Giving and Receiving Feedback</li>
        <li>Difficult Conversations</li>
        <li>Influence</li>
        <li>Working with Resistance</li>
        <li>Managing Stress</li>
        <li>Developing Others</li>
      </ul>
  </div>
</section>
