---
title: Logistics, cadence, and fees for executive coaching.
description: Learn more about how executive coaching works.
keywords: leaders, creative leaders, design leaders, engineering leaders, seekers
image: "og/mm-og-1.jpg"
---

<section class="content">
  <div class="col-1">
    <h2>Beginning Together: The Intake Session</h2>
  </div>

  <div class="col-2">
    <p>It all begins with the intake session. Though we probably have a sense of where our work together will start based on the initial consultation call, intentional beginnings are an important part of building the coaching container. Intake is a chance to engage in a holistic exploration of who you are, what is calling, and what gets in your way. This session runs 90 minutes and will set the foundation and initial direction of our work. From this conversation we'll create a <strong>purpose statement</strong> that answers the question, "coaching for the sake of what?" and identify any <strong>developmental outcomes</strong> that will support the leader you are becoming and the business goals you are driving. You'll also receive:</p>
    <ul class="bullets">
      <li><strong>A Kick-off Email:</strong> a welcome and overview of what to expect, what comes next, and any relevant links, readings, and tools.  </li>
      <li><strong>An Enneagram Assessment:</strong> the Enneagram is a great way to kick-start the introspection process and identify strengths, blindspots, and behaviors that might get in the way of both coaching and your leadership development.</li>
      <li><strong>Intake Questions:</strong> a set of questions about <em>you</em> we'll explore together in the intake session. These require space and time for thoughtful reflection and are a great opportunity to learn more about yourself. </li>
      <li><strong>Coaching Manual:</strong> a collection of frameworks, models, and methods I use in my coaching practice, which also includes information on how to best utilize your executive coach (hi!).</li>
      <li><strong>First Invoice:</strong> invoices can be paid monthly or quarterly (see more on billing below).</li>
    </ul>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Frequency and Cadence</h2>
  </div>

  <div class="col-2">
    <p>Typically we'll meet <strong>every-other week for 60 minutes</strong> either via phone or Zoom, though sessions can go longer depending on your needs. I will send a check-in email 48 hours before our session with a set of questions to help us identify the most impactful use of our time together. Sessions must be used in the month in which they occur. </p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Between Sessions</h2>
  </div>

  <div class="col-2">
    <p>Coaching doesn't just happen in the moments we're together, it also happens in the rich time between sessions. At the end of each session we'll reflect on what we've uncovered and <strong>from these insights we'll craft a selection of experiments, reflective exercises, practices and action items</strong> for you to take out into the world. The intention is to put new ways of being into practice and create feedback loops that can accelerate learning and transformation, practiced in a safe and supportive way.</p>

    <p>I'm always available between sessions via text and email. In your welcome materials you'll also receive a link you can use to schedule spot coaching sessions (30 minutes) as needed.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Quarterly Reflections</h2>
  </div>

  <div class="col-2">
    <p>Every three months we'll set aside some time to reflect on what has been unfolding, celebrate progress, and course correct where necessary.
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Engagement Length</h2>
  </div>

  <div class="col-2">
    <p>Coaching engagements are <strong>open ended</strong> and determined by you. It's worth noting that the work of professional and personal development is a winding, non-linear path, and because of this I ask that you <strong>commit to three months of working together</strong>. At the end of the three months we will pause and assess how it's going, and decide whether to continue working together or not. Typically folks work with me for around 9 - 12 months.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Tending to Endings</h2>
  </div>

  <div class="col-2">
    <p>At some point in our work we'll know we're coming to the end of our time together. Coaching is in service of fostering self-generating behaviors so that people have the tools, mindsets, and introspective capacities to continue and support themselves in their own development. In our final session together we'll <strong>reflect on the path you've walked, celebrate the transformation that has happened along the way, and create a learning plan for what comes next</strong>. We'll also schedule a 30 minute check-in for three months post-engagement for us to connect and share relevant updates, insights, and changes that have happened.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Price and Billing</h2>
  </div>

  <div class="col-2">
    <p>I work on a retainer model and charge either monthly or quarterly. While credit cards can be accomodated, ACH is much preferred. The average cost is <strong>$1500 USD per month</strong>. </p>
  </div>
</section>

<%= partial "signup" %>
