---
title: Executive and Team Coaching
description: One-on-one executive coaching, team coaching, group coaching, and leadership programs.
keywords: executive coach, leadership coach, design executive coach, design leadership coach, executive team coach, leadership team coach, group coaching, Andrea Mignolo
image: "og/og-simple.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Offerings</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2><%= link_to('1:1 Coaching', 'executive-coaching') %></h2>
  </div>

  <div class="col-2">
    <p>For executives, senior leaders, and emerging leaders who want to do meaningful work, build great teams, and not burn out along the way.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2><%= link_to('Team Coaching', 'team-coaching') %></h2>
  </div>

  <div class="col-2">
    <p>For teams looking to work better together, I bring a process focused, evidenced-based approach that helps teams become aware of, enhance, and change relational dynamics and patterns of interaction that accelerate team performance.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2><%= link_to('Leadership Programs & Offsites', 'leadership-programs') %></h2>
  </div>

  <div class="col-2">
    <p>Customized learning experiences for leaders and teams. Combining coaching, training, and embodied mindfulness practices, I utilize an experiential learning approach to teach essential skills for leading through change, building high performing teams, and fostering resilience.</p>
  </div>
</section>




<%#= partial "testimonials" %>

<%#= partial "signup" %>
