---
title: Subscribing to the newsletter!
description: This is just a stop along the way, but first you have to check your inbox and confirm your subscription
image: "og/og-symbol.jpg"
layout: content
---

<section class="content">
  <div class="col-1">
    <h2>Almost there!</h2>
  </div>

  <div class="col-2">

      <p>Thank you for signing up!</p>

      <p>To make sure everything is in order and that you do indeed want to subscribe, check your inbox where you will see an email to confirm your subscription.</p>

      <%= image_tag("fandj.gif") %>

  </div>
</section>
