---
title: Subscribing to the newsletter!
description: This is just a stop along the way, but first you have to check your inbox and confirm your subscription
image: "og/og-symbol.jpg"
layout: content
---

<section class="content">
  <div class="col-1">
    <h2>Almost there!</h2>
  </div>

  <div class="col-2">

      <p>Check your inbox to confirm your subscription! Once confirmed, you’ll receive access to the resources you requested—whether that’s a webinar, newsletter, or other materials.</p>


      <%= image_tag("subscribing.jpg") %>

  </div>
</section>
