---
title: Team Coaching for Executive and Leadership Teams
description: Learn more about how team coaching works and what to expect.
keywords: team coaching, leadership teams, executive teams, process facilitation
image: "og/mm-og-1.jpg"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Executive and Leadership Team Coaching</h1>
    <p>A non-directive approach to building and maintaining innovative and high performing teams.</p>

    <p><%= link_to('schedule a consultation', 'consultation', class: "btn") %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>What You Can Expect</h2>
  </div>

  <div class="col-2">
    <blockquote>
      <p>Before working with Andi and Donna, we were an overworked, reactive executive team. Through learning and iterating on our leadership styles, we’ve pivoted to being intentional about how we lead.</p>

      <p>Slowing down has helped us get more done. It’s a much better work atmosphere for everyone across the board. We smile more. And we see more engagement across our company.</p>

      <p>&mdash; CEO & Founder</p>
    </blockquote>

    <h3>Team coaching integrates a holistic, systems-based approach to helping teams work better together.</h3>

    <p>In a team coaching engagement, the team system itself &mdash; an original, inseparable, whole &mdash; is the focus of coaching and development, rather than the individuals who make up the team. The objective is to increase the team's capacity to lead in connection with its vision, purpose, and desired goals.</p>

    <p>Together we work to raise awareness of how your current systemic processes help and hinder the outcomes you aim to achieve. We pay specific attention to patterns of interaction and observe qualities of engagement so that you can begin to understand <em>how</em> you work together in order to change, add, or enhance team dynamics in service of becoming a high performing unit.</p>

    <p>Where trainings and consulting engagements focus on skill building, team coaching takes a capacity building approach. Our sessions together focus less on transferring information or didactic lectures, and more on engaging in work, building awareness, trying experiments, and making meaning from what we are observing. This is a highly experiential approach that involves the cognitive, emotional, and somatic understanding of each member of the team, and of the team itself.</p>

  </div>
</section>
