---
title: Team Coaching for Executive and Leadership Teams
description: Learn more about how team coaching works and what to expect. 
keywords: team coaching, leadership teams, executive teams, process facilitation
image: "og/og-the-becoming.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Team Coaching</h1>
    <p>For executive teams, leadership teams, and boards.</p>

    <p><%= link_to('schedule a consultation', 'consultation', class: "btn") %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>What You Can Expect</h2>
  </div>

  <div class="col-2">
  </div>
</section>
