---
title: Thanks!
---
<div class="left"></div>
<div class="right"></div>
<div class="top"></div>
<div class="bottom"></div>

<div class="container">
  <div class="mm">
    <%= image_tag 'mm4.png' %>
  </div>

  <p class="center"><strong>Seriously, thank you.</strong></p>

  <p>I'm so glad you are interested in Integral Coaching. In terms of next steps I'll reach out to you shortly to schedule an intro meeting where we can get to know each other and make sure this is the right step for you.</p>

  <p>Until then, have a lovely day :).</p>
</div>
