---
title: Schedule a Conversation.
description: Get in touch for individual coaching, team coaching, group coaching, or leadership programs.
keywords: executive coach, leadership coach, teach coach, group coach.
image: "og/og-base.png"
layout: content
---


<section class="content">
  <div class="col-1">
    <h1>Thank you for reaching out!</h1>
  </div>

  <div class="col-2">
      <h3>I’ll be in touch within 48 hours in response to your inquiry or to schedule a call where we can get to know each other and explore possibilities of working together further.</h3>

      <p>Be sure to check your spam folder in case my email gets sent there!</p>

      <p><%= image_tag("pusheen.gif") %></p>


  </div>
</section>
