---
title: the becoming archive
description: An archive of the previous newsletter, the becoming, now hosted at andreamignolo.com
keywords: newsletter archive
image: "og/og-the-becoming.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>the becoming archive</h1>
    <p>This newlsetter is now hosted at <%= link_to('andreamignolo.com', 'https://andreamignolo.com') %></p>
    <div class="mini"><%#= partial "tb_form" %></div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
  </div>

  <div class="col-2">
    <div class="kp-editions">
    <h3>Previous Editions</h3>

    <% blog('the-becoming').articles.each do |article| %>
      <div class="kp-post">
        <%#= image_tag article.data.image %>

        <div class="meta">
          <h2><%= article.data.description %></h2>
          <h3><%= link_to article.data.title, article %> </h3>
        </div>
      </div>
    <% end %>
    </div>


</section>
