---
title: Confirmed!
description: Thank you for signing up to Words Make Worlds! I'm so glad you are here!
image: "og/mm-og-1.jpg"
layout: content
---

<section class="content">
  <div class="col-1">
  </div>

  <div class="col-2">

      <h1>Welcome!</h1>
      <p>Thank you for signing up to <strong>Words Make Worlds</strong>! We're just getting started and it's great to have you here.

      <%#= image_tag("confirmed.gif") %>

      <p>As the first newsletters get polished up and ready to go, these articles can give you an idea of what Words Make Worlds is about:
        <ul class="bullets">
          <li><%= link_to('Creating Space for Others to Think', 'https://medium.com/method-matter/creating-space-for-others-to-think-30a6e8b418e1') %></li>
          <li><%= link_to('Building a Relationship with Change', 'https://medium.com/method-matter/building-a-relationship-with-change-3602cf6e7890') %></li>
          <li><%= link_to('Both/And: Untangling the Relationship Between Management & Leadership', 'https://medium.com/method-matter/both-and-untangling-the-relationship-between-management-leadership-21fdcd06f546') %></li>
        </ul></p>

      <p>And if you are so inclined, let's <%= link_to('connect on LinkedIn', 'https://www.linkedin.com/in/mignolo/') %>.</p>

  </div>
</section>
