---
title: Confirmed!
description: Thank you for signing up to Words Make Worlds! I'm so glad you are here!
image: "og/mm-symbol.png"
layout: content
---

<section class="content">
  <div class="col-1">
    <%= image_tag("wmw/wmw-circle-transparent.png", :class => "wmw-logo") %>
  </div>

  <div class="col-2">

      <h1>Welcome!</h1>
      <p>Thank you for signing up to <strong>Words Make Worlds</strong>!</p>

      <p>Check your inbox for your welcome email, the first in a series of five that you will receive each day, introducing you to simple practices that can bring more authenticity and ease to your leadership practice.</p>

      <p>See you soon, <br/>
      Andi </p>
  </div>
</section>
