---
title: Confirmed!
description: Thank you for signing up to Words Make Worlds! I'm so glad you are here!
image: "og/mm-symbol.png"
layout: content
---

<section class="content">
  <div class="col-1">
    <%= image_tag("wmw/wmw-circle-transparent.png", :class => "wmw-logo") %>
  </div>

  <div class="col-2">

      <h1>Welcome!</h1>
      <p>Thank you for signing up to <strong>Words Make Worlds</strong>! This newsletter is resuming September 2nd, 2025 and will be sent every other Friday (ish).</p>

      <p>When the newsletter relaunches you'll receive a series of five emails that outline three fundamental practices I teach to every client I work with—connecting more fully with yourself, feeling the support of authentic presence, and building awareness practices that free your attention and unleash your curisoity.</p>

      <p>I'm glad you are here.</p>
  </div>
</section>
