---
title: Words Make Worlds
description: A newsletter about leadership at the emerging edge. Sent bi-weekly, Words Make Worlds delivers insight, theory, and practice to leaders trying to do good without burning out.
keywords: leadership newsletter, management newsletter, self development newsletter
image: "og/og-words-make-worlds.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Words Make Worlds</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
  </div>

  <div class="col-2">
      <% blog('words-make-worlds').articles.each do |article| %>
        <ul class="issue-list">
          <% if article.data.kind == 'note' %>
            <li class="issue-note">
              <%= article.body %>
              <%= link_to '∞ note permalink', article, :class=>"permalink" %>
            </li>
          <% else %>
            <li>
              <h3><%= link_to article.data.title, article %></h3>
              <h4><%= article.data.description %></h4>
            </li>
          <% end %>
        </ul>
      <% end %>


</section>
