---
title: method & matter /// workshops
---

<section class="hero">
  <h1>Collaborative Learning <p> </p>
  </h1>
</section>

<section class="content">
  <div class="col-1">
    <h2>Appreciative Inquiry</h2>
  </div>

  <div class="col-2">
    <%#= image_tag 'ai-cover.png' %>
    <p>Appreciative Inquiry is a strengths-based, capacity building approach to leadership development and organizational change. Collaborative, inclusive, and generative, Appreciative Inquiry helps teams learn and transform through a unique combination of conversations, cooperation, and questions. Best delived in day-long offsites, Appreciative Inquiry workshops are customized for your specific team vision, goals, and needs.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Systems Thinking for Designers</h2>
  </div>

  <div class="col-2">
    <p>Systems and complexity are all around us - in the products and services we build, in the organizations we are a part of, and in the society we live in. We are systems embedded in systems embedded in systems. </p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Business Thinking for Designers</h2>
  </div>

  <div class="col-2">
    <p>How does design bring value to your business, and how is that measured? What is the relationship between design and the rest of your organization? And how can designers drive more impact through a better understanding of business? This workshop is custom designed around your business and your design team, exploring ways to bring mutual intelligibility between the two domains, and help designers get some business thinking under their belts.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Facilitation</h2>
  </div>

  <div class="col-2">
    <p>Custom facilitation for offsites, team-building, team charters, capacity building, and conflict resolution. </p>
  </div>
</section>
